@font-face {
  font-family: xmasFont;
  src: url(/assets/fonts/MerryChristmasFlake.ttf);
  font-weight: bold;
}

#num {
  font-family: 'Pacifico'
}

#box {
  color: white;
  /*padding: 20px 30px 20px 30px;*/
  text-align: center;
  margin: 10% 0 30% 0;
  padding: 2px;
  font-family: 'xmasFont'
}

#cntdwn {
  color: white;
  font-size: 50px;
  font-size: 6vw;
}

html {
  height: 100%;
}

#-body {
  background: #090b44;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #090b44), color-stop(100%, #00001c));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #090b44 0%, #00001c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#090b44', endColorstr='#00001c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #090b44;
  /* Old browsers */
  background-color: -moz-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%);
  /* FF3.6+ */
  background-color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #090b44), color-stop(100%, #00001c));
  /* Chrome,Safari4+ */
  background-color: -webkit-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%);
  /* Chrome10+,Safari5.1+ */
  background-color: -o-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%);
  /* Opera 12+ */
  background-color: -ms-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%);
  /* IE10+ */
  background-color: radial-gradient(ellipse at center, #090b44 0%, #00001c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#090b44', endColorstr='#00001c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-image: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  text-shadow: 2px 2px 4px #000000;
}

.main {
  /*float: left;
     width: 100%;
     margin: 0 auto;*/
}

.main h1 {
  padding: 20px 50px;
  float: left;
  width: 100%;
  font-size: 60px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  margin: 0;
  padding-top: 25px;
  font-family: 'Pacifico';
  letter-spacing: 2px;
}

.main h1.demo1 {
  background: #1ABC9C;
}

a {
  text-decoration: none;
}

h1, h2 {
  width: 100%;
  float: left;
}

h1 {
  margin-top: 100px;
  color: #1D3185;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  font-size: 70px;
  letter-spacing: -4px;
}

h2 {
  color: #3C487A;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.pointer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left: -245px;
  color: #2744BE;
  font-family: 'Open Sans', cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  margin-top: 15px;
}

pre {
  margin: 80px auto;
}

pre code {
  padding: 35px;
  border-radius: 5px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.1);
  border: rgba(0, 0, 0, 0.05) 5px solid;
  max-width: 500px;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.header {
  position: relative;
}

canvas.flare {
  opacity: 0.5;
}
